{{!-- 
	popup-id : id 배정
--}}
<div class="popup_wrap popup_wrap_type4{{#if popup-class}} {{popup-class}}{{/if}}{{#if popup-active}} active{{/if}}"{{#if popup-id}} id="{{popup-id}}"{{/if}}{{#if close-btn}}{{/if}} role="dialog" aria-modal="true" {{#if popup-active}}aria-hidden="false"{{else}}aria-hidden="true"{{/if}} >
	<div class="popup_container">
		<div class="popup_dim" aria-hidden="true"{{#if popup-id}} onclick="closeHDPopup('{{popup-id}}');"{{/if}}></div>
		<div class="popup_inner{{#if in-class}} {{in-class}}{{/if}}">
			{{!-- <div class="draggable" aria-grabbed="false" aria-dropeffect="close" tabindex="0" aria-label="드래그 하여 닫기"> --}}
			<div class="draggable" aria-hidden="true">
				<div class="move"></div>
			</div>
			<div class="popup_head">
				{{#unless no-header}}
				<div class="popup_head_title">{{{popup-title}}}</div>
				{{/unless}}
			</div>
			<div class="popup_cont">
				<div class="popup_content">
					<div class="tab_wrap">
						<div class="tab_wrap_list_ty1 sticky_fix" role="tablist">{{>cp/tab_btn tb-text="은행" tb-id="01" tb-active=true}} {{>cp/tab_btn tb-text="증권사" tb-id="02"}}</div>
						<div class="tab_wrap_content active" role="tabpanel" aria-labelledby="은행선택탭" id="tabPanels01">
							<ul class="select_list_ty_logo">
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_004"}}국민은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_088"}}신한은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_020"}}우리은행</span></button></li>
								<!-- s: 25-09-11 수정 -->
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_003"}}기업은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_011"}}농협은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_012"}}지역농협</span></button></li>
								<!-- e: 25-09-11 수정 -->
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_081"}}KEB하나은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_005"}}KEB하나은행<br>(구.외환은행)</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_027"}}씨티은행(한미)</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_023"}}SC은행</span></button></li>
								<!-- s: 25-09-11 수정 -->
								<!-- <li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_002"}}산업은행</span></button></li> -->
								<!-- e: 25-09-11 수정 -->
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_039"}}경남은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_034"}}광주은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_031"}}대구은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_032"}}부산은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_037"}}전북은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_035"}}제주은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_071"}}우체국</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_007"}}수협</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_045"}}새마을금고</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_048"}}신용협동조합</span></button></li>
								<!-- s: 25-09-11 수정 -->
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_064"}}산림조합중앙회</span></button></li>
								<!-- <li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_050"}}상호저축은행</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_054"}}HSBC</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_055"}}도이치</span></button></li> -->
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_089"}}케이뱅크</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_090"}}카카오뱅크</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_092"}}토스뱅크</span></button></li>
								<!-- <li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_057"}}JP모건</span></button></li> -->
								<!-- e: 25-09-11 수정 -->
							</ul>
						</div>
						<div class="tab_wrap_content" role="tabpanel" aria-labelledby="증권사선택탭" id="tabPanel02">
							<ul class="select_list_ty_logo">
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_261"}}교보증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_267"}}대신증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_238"}}대우증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_279"}}동부증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_209"}}동양증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_287"}}메리츠증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_230"}}미래에셋증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_290"}}부국증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_240"}}삼성증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_268"}}솔로몬증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_291"}}신영증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_278"}}신한금융투자</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_247"}}우리투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_280"}}유진투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_265"}}이트레이드증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_264"}}키움증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_270"}}하나대투증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_262"}}하이투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_243"}}한국투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_269"}}한화증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_218"}}현대증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_263"}}HMC투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_292"}}LIG투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_289"}}NH농협증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_266"}}SK증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_209"}}유안타증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_218"}}KB증권(구현대)</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_238"}}미래에셋증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_247"}}NH투자증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_278"}}굿모닝신한증권</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_027"}}씨티은행(한미)</span></button></li>
								<li><button class="item"><span class="text">{{> cp/icon iconClass="i_logo_054"}}HSBC(홍콩상하이)</span></button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{{#unless close-btn}}
				<button type="button" class="popup_close"{{#if popup-id}} onclick="closeHDPopup('{{popup-id}}');"{{/if}}><span class="blind">팝업 닫기</span></button>
			{{/unless}}
		</div>
	</div>
</div>