{{!-- 
	popup-id : id 배정
--}}
<div class="popup_wrap popup_wrap_type2{{#if popup-class}} {{popup-class}}{{/if}}{{#if popup-active}} active{{/if}}"{{#if popup-id}} id="{{popup-id}}"{{/if}}{{#if no-header}}{{/if}}{{#if close-btn}}{{/if}} role="dialog" aria-modal="true" {{#if popup-active}}aria-hidden="false"{{else}}aria-hidden="true"{{/if}} >
	<div class="popup_container">
		<div class="popup_dim" aria-hidden="true"{{#if popup-id}} onclick="closeHDPopup('{{popup-id}}');"{{/if}}></div>
		<div class="popup_inner{{#if in-class}} {{in-class}}{{/if}}">
			<div class="popup_head">{{#unless no-header}}<div class="popup_head_title">{{{popup-title}}}</div>{{/unless}}</div>
			
			{{> @partial-block}}
			{{#unless close-btn}}
				<button type="button" class="popup_close"{{#if popup-id}} onclick="closeHDPopup('{{popup-id}}');"{{/if}}><span class="blind">팝업 닫기</span></button>
			{{/unless}}
		</div>
	</div>
</div>