<div class="address_item address_item_case01{{#if ad_class}} {{ad_class}}{{/if}}" role="button" tabindex="0" title="{{#if ad_title}}{{ad_title}}{{else}}주소검색 팝업열기{{/if}}"{{#if disabled}} aria-disabled="true"{{/if}}{{#if ad_popup}}{{^disabled}} onclick="openHDPopup(this,'{{ad_popup}}');"{{/disabled}}{{/if}}>
	<div class="address_item_inner">
		{{#if case1}}
		<div class="ad_item" data-placeholder="{{ad_ph}}"></div>
		{{/if}}
		{{#if case2}}
		<div class="ad_item active" data-placeholder="{{ad_ph}}">
			<span class="zip_code">03379</span>
			<span>서울 은평구 서오릉로4길 7-8 101동 301호 (녹번동, 녹번 2차 현대 아파트)</span>
		</div><span class="ad_stat">입력됨</span>
		{{/if}}
		{{#if case3}}
		<div class="ad_item active">
			<span class="item_list">[기둥]철골철근콘크리트구조</span>
			<span class="item_list">[지붕]슬라브지붕</span>
			<span class="item_list">[외벽]철근콘크리트벽</span>
		</div><span class="ad_stat">입력됨</span>
		{{/if}}
		{{#if case4}}
		<div class="ad_item active">
			<span>회사 사무직 종사자</span>
		</div><span class="ad_stat">입력됨</span>
		{{/if}}
	</div>
</div>
{{#if msg1}}
  <p class="msg_success">{{msg1}}</p>
{{/if}}
{{#if msg2}}
  <p class="msg_error">{{msg2}}</p>
{{/if}}
{{#if msg3}}
  <p class="msg_fail">{{msg3}}</p>
{{/if}}