{{!-- 
	id : id 배정
	labelname : label 배정
--}}
<div class="inp_checkbox{{#if checkbox_class}} {{checkbox_class}}{{/if}}">
	<input type="checkbox"
		id="{{id}}"
		{{#if chk_class}}class="{{chk_class}}"{{/if}}
		{{#if name}}name="{{name}}"{{/if}}
		{{#if cb_title}}title="{{cb_title}}"{{/if}}
		{{#if checked}}checked{{/if}}
		{{#if disabled}}disabled{{/if}}
		{{#if role}}role="{{{role}}}"{{/if}}{{!-- swich --}}
		{{#if aria-checked}}aria-checked="{{{aria-checked}}}"{{/if}}{{!-- swich --}}
		{{!-- 체크 시 팝업 활성화 되지 않음. 문구 미제공, 추후 변경 시 재사용 예정 --}}
		{{!-- {{#if ag}} title="체크하시면 {{{labelname}}} 약관 팝업이 활성화 됩니다."{{/if}} --}}
		{{!-- {{#if ag_more}} title="체크하시면 {{{labelname}}} 약관 팝업이 활성화 됩니다."{{/if}} --}}
		{{!-- {{#if ag_top}} title="체크하시면 {{{labelname}}} 약관 팝업이 활성화 됩니다."{{/if}} --}}
	>
	<label for="{{id}}" class="chk_label{{#if label_class}} {{label_class}}{{/if}}{{#if ag_more}} more_add{{/if}}{{#if ag_more2}} more_add2{{/if}}{{#if question}} question{{/if}}{{#if ag_top}} chk_label_ty2{{/if}}">
		<span class="label_cont">{{#if ess}}<strong class="ess ess_t1">필수</strong>{{/if}}{{{labelname}}}{{#if labelcont}}<span class="sub_g_txt">{{{labelcont}}}</span>{{/if}}</span>
	</label>
	{{#if @partial-block}}{{> @partial-block }}{{/if}}{{#if cardmode}}<i></i>{{/if}}{{#if ag_more}}<button type="button" class="ag_more_btn" aria-label="{{stripHtml labelname}} 자세히 보기"{{#if pop_open}} onclick="openHDPopup(this,'{{#if pop_id}}{{{pop_id}}}{{/if}}');"{{/if}}>자세히</button>{{/if}}{{#if ag_more2}}<button type="button" class="ag_more_btn2" aria-label="{{stripHtml labelname}} 자세히 보기"></button>{{/if}}
	{{#if question}}
		<button type="button" class="question_mark_btn" onclick="openHDPopup(this,'{{#if pop_id}}{{{pop_id}}}{{/if}}');"><i class="hd_icon arrowRightSvg"></i><span class="blind">팝업열기</span></button>
	{{/if}}
</div>