{{!-- 
	id : id 배정
	name : name 배정
--}}
<div class="inp_file">
	<input type="file"
		id="{{id}}"
		name="{{name}}"
		class="{{class}}"
	>
	<label for="{{id}}">
		<span class="file_name">{{{text}}}</span>
		<span class="file_btn">파일 업로드하기</span>
	</label>
</div>