{{!-- 
	id : id 배정
	name : name 배정
--}}
<div class="input_text{{#if class}} {{class}}{{/if}}">
	<div class="inp_file">
		<input type="file"
			id="{{id}}"
			name="{{name}}"
			class="{{class}}"
		>
		<label for="{{id}}">
			<span class="file_name">{{{text}}}</span>
			<span class="hd_btn hd_btn_ty_3 hd_btn_s_4">파일 업로드하기</span>
		</label>
	</div>
</div>