<div class="select_item select_item_case01{{#if si_class}} {{si_class}}{{/if}}" role="button" tabindex="0" title="{{si_title}}"{{#if disabled}} aria-disabled="true"{{/if}}{{#if si_popup}}{{^disabled}} onclick="openHDPopup(this,'{{si_popup}}');"{{/disabled}}{{/if}}>
	<div class="select_item_inner">
		<div class="si_item" data-placeholder="{{si_ph}}">{{{si_item}}}</div><span class="si_stat">선택됨</span>
	</div>
</div>