<div class="input_text {{#if class}}{{class}}{{/if}}">
  <div class="inp">
    <input 
      {{#if type}}type="{{type}}"
			{{else}}
				type="text"
			{{/if}}
      {{#if id}}id="{{id}}"{{/if}}
      {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
      {{#if value}}value="{{value}}"{{/if}}
      {{#if minlength}}minlength="{{minlength}}"{{/if}}
      {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
      {{#if disabled}}disabled{{/if}}
      {{#if readonly}}readonly{{/if}}
    >
		<i></i>
    {{!-- 버튼 (초기화 삭제, 달력 호출) --}}
    {{#unless no_del}}<button type="button" class="del"><span class="blind">텍스트 삭제</span></button>{{/unless}}{{#if no_cal}}<button type="button" class="cal"><span class="blind">달력 호출</span></button>{{/if}}
  </div>
  {{!-- validation --}}
  {{!-- 안내문구 노출 위치 --}}
  {{#if msg1}}
    <p class="msg_success">{{msg1}}</p>
  {{/if}}
  {{#if msg2}}
    <p class="msg_error">{{msg2}}</p>
  {{/if}}
  {{#if msg3}}
    <p class="msg_fail">{{msg3}}</p>
  {{/if}}
  {{!-- validation --}}
</div>