{{#unless no-header}}
<div id="header" class="header_pc{{#if h-prd}} header_pc_nd{{/if}}{{#if hd-error}} header_pc_error{{/if}}">
	<div class="header_pc_inner"> 
		{{#unless h-prd}}
		{{#unless hd-error}}
		<div class="hpi_top">
			<div class="hpi_change_area">
				<div class="hpi_cm">
					<a href="#" class="hpi_cm_btn{{#if corp_mode}}{{else}} active{{/if}}">개인</a>
					<a href="#" class="hpi_cm_btn{{#if corp_mode}} active{{/if}}">법인</a>
				</div>
			</div>
			<div class="hpi_utils">
				{{#unless corp_mode}}				
				{{#if loga}}
				<span class="hpi_utils_items">
					<span class="remain_time">
						<span class="remain_time_clock">
							<lottie-player id="time_out_lottie" src="../../../json/time_logout.jso" background="transparent" speed="1" aria-hidden="true"></lottie-player>
						</span>
						<span class="sr_only">남은시간 :</span>
						<span class="remain_time_chk">17:00</span>
						<button type="button" class="time_out"><span class="text">시간연장</span></button>
					</span>
				</span>
				<span class="hpi_utils_items">
					<a href="#">로그아웃</a>
				</span>
				{{else}}
				<span class="hpi_utils_items">
					<a href="#">회원가입</a>
				</span>
				<span class="hpi_utils_items">
					<a href="#">로그인</a>
				</span>
				{{/if}}				
				<span class="hpi_utils_items">
					<a href="https://www.hi.co.kr/serviceAction.do?menuId=100931" target="_blank" title="새창열림">상품공시</a>
				</span>
				<span class="hpi_utils_items">
					<a href="#">인증센터</a>
				</span>
				{{/unless}}
				<span class="hpi_utils_items">
					<a href="https://www.hi.co.kr/" target="_blank" title="새창열림">현대해상 홈페이지</a>
				</span>
			</div>
		</div>
		{{/unless}}
		{{/unless}}
		<div class="hpi_bottom">
			<div class="hpi_l{{#if h-prd}} hpi_l_nd{{/if}}">
				{{#unless h-prd}}
					{{#if hd-error}}
					<h1 class="hpi_logo">
						<img src="../../../images/header/img_logo_ty1.png" alt="현대해상 다이렉트">
					</h1>
					{{else}}
					<h1 class="hpi_logo">
						<a href="#">
							<img src="../../../images/header/img_logo_ty1.png" alt="현대해상 다이렉트 홈으로">
						</a>
					</h1>
					{{/if}}
				{{else}}
					{{#if npay}}
					<h1 class="hpi_logo">
						<a href="#">
							<img src="../../../images/header/img_logo_ty2_xnpay.png" alt="현대해상 다이렉트 X Npay 홈으로">
						</a>
					</h1>
					{{else}}
						{{#unless no-direct}}
						<h1 class="hpi_logo">
							<img src="../../../images/header/img_logo_ty2.png" alt="현대해상 다이렉트">
						</h1>
						{{else}}
						<h1 class="hpi_logo">
							<img src="../../../images/header/img_logo_ty2_hd.png" alt="현대해상">
						</h1>
						{{/unless}}
					{{/if}}
				<strong class="hpi_l_prd_name">{{h-prd}}</strong>
				{{/unless}}
			</div>


			{{#if petmode}}
			<div class="change_mode">
				<div class="item">
					<button type="button" class="cm_btn cm_btn_dog{{#if petmode-dog}} active{{/if}}"><span class="text">강아지<span class="sr_only">정보입력으로 전환</span></span></button>
				</div>
				<div class="item">
					<button type="button" class="cm_btn cm_btn_cat{{#if petmode-cat}} active{{/if}}"><span class="text">고양이<span class="sr_only">정보입력으로 전환</span></span></button>
				</div>
			</div>
			{{/if}}
			{{#unless h-prd}}
			{{#unless hd-error}}
			<nav class="hpi_gnb">
				<div id="gnb">
					{{> layout/nav_pc}}
				</div>
			</nav>
			{{/unless}}
			{{/unless}}
			{{#if gnbadd}}
			<nav class="hpi_gnb">
				<div id="gnb">
					{{> layout/nav_pc}}
				</div>
			</nav>
			{{/if}}

			{{#unless hd-error}}
			<div class="hpi_sub_utils">
					{{#if h-prd}}
					<div class="item item_chatbot">
						<a href="#" class="hus_btn hsu_chatbot" target="_blank" title="새창열림"><span class="text">챗봇상담</span></a>
					</div>
					{{#if gnbadd}}
					<div class="item">
						<a href="#" class="hus_btn hsu_home"><span class="text">홈으로 이동</span></a>
					</div>
					{{else}}
					<div class="item">
						<button type="button" class="hus_btn hsu_close"><span class="text">종료</span></button>
					</div>
					{{/if}}
				{{else}}
				{{#if corp_mode}}
				{{else}}
				<div class="item">
					<button type="button" class="hus_btn hsu_alarm" onclick="openHDPopup(this,'pop_c_alarm');">
						<span class="text">알림 팝업 열기</span>
					</button>
					{{!-- 알림 팝업 --}}
					<div class="popup_wrap popup_wrap_type4" id="pop_c_alarm" role="dialog" aria-hidden="false">
						<div class="popup_container">
							<div class="popup_dim" aria-hidden="true" onclick="closeHDPopup('pop_c_alarm');"></div>
							<div class="popup_inner">
								<div class="popup_head">
									<div class="popup_head_title">알림</div>
								</div>
								<div class="popup_cont">
									<div class="popup_content">
										<div class="tag_item_wrap">
											<!-- s: 25-10-21 수정 active시 title="선택됨" 추가 필요 -->
											<button type="button" class="tag_item size_m c_ty02 active" title="선택됨"><span class="text">#전체</span></button>
											<!-- e: 25-10-21 수정 active시 title="선택됨" 추가 필요 -->
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#일상</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#계약</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#혜택</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#이벤트</span></button>
										</div>
										
										<div class="tag_item_cont">
											<div class="s_title">2025.01.06</div>
											<ul class="card_list_wrap_ty4">
												<li>
													<div class="card_item">
														<div class="item_inner">
															<div class="inner_cont">
																<div class="badge_wrap">
																	<span class="hd_badge outline solid_pastel c_primary size_m">이벤트</span>
																</div>
																<h3 class="item_title">운전자보험 7% 할인해드려요.</h3>
																<p class="item_desc">
																	자동차보험 가입자 대상 운전자보험을 할인해드려요.
																</p>
																<button type="button" class="btn_link short_cut md rd_box">
																	<span class="text">자세히 보기</span>
																</button>
															</div>
														</div>
														<div class="img_box">
															<img src="../../../images/content/bn/img_MBNEVNT10000000000.svg" alt="이벤트이미지">
														</div>
														<button type="button" class="btn_rd_close"><span class="blind">카드 삭제</span></button>
													</div>
												</li>
											</ul>

											<div class="s_title">2025.01.05</div>
											<ul class="card_list_wrap_ty4">
												<li>
													<div class="card_item">
														<div class="item_inner">
															<div class="inner_cont">
																<div class="badge_wrap">
																	<span class="hd_badge outline solid_pastel c_secondary size_m">일상</span>
																</div>
																<h3 class="item_title">자동차보험 종료안내</h3>
																<p class="item_desc">
																	15가1321 자동차의 보험이 곧 종료되요.<br>
																	보험 갱신하고 앞으로도 현대해상과 함께해요 :)
																</p>
															</div>
														</div>
														<button type="button" class="btn_rd_close"><span class="blind">카드 삭제</span></button>
													</div>
												</li>
												<li>
													<div class="card_item">
														<div class="item_inner">
															<div class="inner_cont">
																<div class="badge_wrap">
																	<span class="hd_badge outline solid_pastel c_success size_m">혜택</span>
																</div>
																<h3 class="item_title">마일리지 환급금 이용 TIP</h3>
																<p class="item_desc">
																	마일리지 환급예정금액이 있나요?<br>
																	자동차보험 환급예정금액으로 결제해보세요.
																</p>
																<button type="button" class="btn_link short_cut md rd_box">
																	<span class="text">자세히 보기</span>
																</button>
															</div>
														</div>
														<button type="button" class="btn_rd_close"><span class="blind">카드 삭제</span></button>
													</div>
												</li>
											</ul>

											<div class="s_title">2025.01.03</div>
											<ul class="card_list_wrap_ty4">
												<li>
													<div class="card_item">
														<div class="item_inner">
															<div class="inner_cont">
																<div class="badge_wrap">
																	<span class="hd_badge outline solid_pastel c_warning size_m">계약</span>
																</div>
																<h3 class="item_title">가입안내</h3>
																<p class="item_desc">
																	다이렉트 굿앤굿어린이보험 신규가입
																</p>
															</div>
														</div>
														<button type="button" class="btn_rd_close"><span class="blind">카드 삭제</span></button>
													</div>
												</li>
											</ul>
									
											<div class="btn_area center view_more">
												{{> cp/button_more}}
											</div>

											<div class="no_list_area">
												{{> cp/icon iconClass="exclamationSvg"}}
												<p>알림이 없어요</p>
											</div>
										</div>
									</div>
								</div>
								<button type="button" class="popup_setting" onclick="openHDPopup(this,'pop_c_alarm_setting');"><span class="blind">알림 설정 팝업 열기</span></button>
								<button type="button" class="popup_close" onclick="closeHDPopup('pop_c_alarm');"><span class="blind">팝업 닫기</span></button>
							</div>
						</div>
					</div>
					{{!-- 알림 팝업 --}}
					{{!-- 알림 설정 --}}
					<div class="popup_wrap popup_wrap_type3" id="pop_c_alarm_setting" role="dialog" aria-modal="true" aria-hidden="false">
						<div class="popup_container">
							<div class="popup_dim" aria-hidden="true" onclick="closeHDPopup('pop_c_alarm_setting');"></div>
							<div class="popup_inner">
								<div class="popup_head">
									<div class="popup_head_title">알림 설정</div>
								</div>

								<div class="popup_cont">
									<div class="popup_content">
										<div class="form_group_wrap">
											<div class="form_line">
												<div class="label_tit">알림 수신동의</div>
												<div class="radio_group_wrap">
													<div class="inp_radio">
														<input type="radio" id="radio01-1" name="radio01" />
														<label for="radio01-1">
															<span class="label_cont">미동의</span>
														</label>
													</div>
													<div class="inp_radio">
														<input type="radio" id="radio01-2" name="radio01" checked />
														<label for="radio01-2">
															<span class="label_cont">동의</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="popup_bottom">
									<div class="btn_area">
										<button type="button" class="hd_btn hd_btn_ty_1 hd_btn_s_1">
											<span class="text"> 확인 </span>
										</button>
									</div>
								</div>
								<button type="button" class="popup_close" onclick="closeHDPopup('pop_c_alarm_setting');"><span class="blind">팝업 닫기</span></button>
							</div>
						</div>
					</div>
					{{!-- 알림 설정 --}}
				</div>
				{{/if}}
				<div class="item"> 
					<button type="button" class="hus_btn hsu_cart" onclick="openHDPopup(this,'resect_calc');">
						<span class="text">최근 계산내역 팝업 열기</span>
					</button>
					<div class="popup_wrap popup_wrap_type4" id="resect_calc" role="dialog" aria-hidden="true">
						<div class="popup_container">
							<div class="popup_dim" aria-hidden="true" onclick="closeHDPopup('resect_calc');"></div>
							<div class="popup_inner">
								<div class="popup_head">
									<div class="popup_head_title">최근 계산내역</div>
								</div>
								<div class="popup_cont">
									<div class="popup_content">
										<div class="tag_item_wrap">
											<!-- s: 25-10-21 수정 active시 title="선택됨" 추가 필요 -->
											<button type="button" class="tag_item size_m c_ty02 active" title="선택됨"><span class="text">#전체</span></button>
											<!-- e: 25-10-21 수정 active시 title="선택됨" 추가 필요 -->
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#자동차보험(개인)</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#운전자</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#오토바이운전자</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#어린이(태아)</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#어린이(0~15세)</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#어린이치아</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#굿앤굿우리펫</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#주택화재</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#사업장화재</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#건강</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#암</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#연금</span></button>
											<button type="button" class="tag_item size_m c_ty02"><span class="text">#저축</span></button>
										</div>
										<div class="tag_item_cont">
											<div class="s_title">2025.03.21</div>
											<ul class="card_list_wrap">
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon car02">
																<button type="button">
																	<strong class="title">자동차보험(80고**44)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간</dt>
																<dd>25.01.18~25.01.19</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,014,320원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon driver">
																<button type="button">
																	<strong class="title">운전자보험(김*원)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간/납입방법</dt>
																<dd>3년 / 월납</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,339,830원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>차량정보 입력</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon dog">
																<button type="button">
																	<strong class="title">하이펫보험(강아지)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간/납입방법</dt>
																<dd>3년 / 월납</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,014,320원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산</dd>
															</dl>
														</dd>
													</dl>
												</li>
											</ul>
											<div class="s_title">2025.03.21</div>
											<ul class="card_list_wrap">
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon car02">
																<button type="button">
																	<span class="hd_badge outline solid_pastel c_primary size_m">다소안심</span>
																	<strong class="title">자동차보험(80고**44)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간</dt>
																<dd>25.01.18~25.01.19</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,014,320원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon car02">
																<button type="button">
																	<span class="hd_badge outline solid_pastel c_primary size_m">다소안심</span>
																	<strong class="title">자동차보험(80고**44)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간</dt>
																<dd>25.01.18~25.01.19</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>차량정보 입력</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon dog">
																<button type="button">
																	<strong class="title">하이펫보험(강아지)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간/납입방법</dt>
																<dd>3년 / 월납</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,014,320원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon cat">
																<button type="button">
																	<strong class="title">하이펫보험(고양이)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산 전</dd>
															</dl>
														</dd>
													</dl>
												</li>
											</ul>
											<div class="no_list_area">
												<i class="hd_icon exclamationSvg"></i>
												<p>자동차보험 설계내역이 없어요</p>
											</div>
											<ul class="card_list_wrap">
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon dog">
																<button type="button">
																	<strong class="title">하이펫보험(강아지)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>보험기간/납입방법</dt>
																<dd>3년 / 월납</dd>
															</dl>
															<dl>
																<dt>보험료</dt>
																<dd>1,014,320원</dd>
															</dl>
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산</dd>
															</dl>
														</dd>
													</dl>
												</li>
												<li>
													<dl class="card_wrap">
														<dt>
															<div class="icon cat">
																<button type="button">
																	<strong class="title">하이펫보험(고양이)</strong>
																</button>
															</div>
														</dt>
														<dd class="card_cont_list">
															<dl>
																<dt>진행단계</dt>
																<dd>보험료 계산 전</dd>
															</dl>
														</dd>
													</dl>
												</li>
											</ul>
											<div class="no_list_area">
												<i class="hd_icon exclamationSvg"></i>
												<p>내역이 없어요</p>
											</div>
											<div class="img_area">
												<a href="#">
													<img src="../../../images/event/img_car_bann01.png" alt="자동차보험 결제혜택 최대 3만원 받으세요. 30만원 이상 결제시 카드사, 간편결제사 제공 (이륜차포함)" />
												</a>
											</div>
										</div>
									</div>
								</div>
								<button type="button" class="popup_close" onclick="closeHDPopup('resect_calc');"><span class="blind">팝업 닫기</span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<button type="button" class="hus_btn hsu_search" aria-expanded="false"><span class="text">메뉴검색 팝업 열기</span></button>
					{{> layout/search_pc }}
				</div>
				{{#if corp_mode}}
				{{else}}
				<div class="item">
					<button type="button" id="all_menu_open" class="hus_btn hsu_menu_all" onclick="openHDPopup(this,'all_menu');"><span class="text">전체메뉴 보기</span></button>
					{{> layout/allmenu }}
				</div>				
			{{/if}}
				{{/if}}
			</div>
			{{/unless}}
		</div>
	</div>


</div>
{{#if bc}}
{{> cp/breadcrumb bc1="dept1" bc2="dept2" bc3="dept3" bc4="dept4"}}
{{/if}}
{{/unless}}